@page
@model FlowerBouquetManagementSystemWebApp.Pages.User.UserIndexFlowerBouquet

@{
    ViewData["Title"] = "Index";
}

<h1>Flower Bouquets</h1>
<form>
    <label for="name">Name</label>
    <input type="search" name="name", placeholder="Enter flower bouquet name">
    <label for="categoryId">Category</label>
    <select name="categoryId" asp-items="@Model.Categories"></select>
    <button type="submit">Search</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Flower bouquet name</th>
            <th>Description</th>
            <th>Unit price</th>
            <th>Units in stock</th>
            <th>Status</th>
            <th>Category</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="flowerTable">
    </tbody>
</table>
